/*
* Estilos CSS para GPEC
*/
body{
    max-width: 100% !important;
}
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100% !important;
}
.input-search{
    width: 70% !important;    float: left;    padding: 8px;    border: solid 1px #eee;  margin-right: 1px;
}
.my-hidden{
    visibility: hidden;    display: none;
}
.my-display{
    visibility: visible;    display: block;
}
.box-advance,.btn-new-search{
    background: #345975;    padding: 8px;    cursor: pointer;    color: #fff;    border: solid 1px #eee;
}
.class-input-search{
    background-color: #f1f1f1;
    height: 44px;
    border-radius: 0 !important;
}
.btn-new-search{
    width: 8%;    float: left;
    height: 45px !important;
    border-radius:0 !important;
    background-color:#345975 !important;
    color: #fff !important;
}
.box-advance{
    width: 20%;    float: left;    text-align: center;
    height: 45px !important;
}
.advance-fields {
    margin-top: 15px;
}
.advance-fields div{
    margin-top: 10px;
}

.content-area table td{
    text-align: left !important;
}
.label-redlist{
    background: #ff4949 !important;
    color: #fff !important;
}

.no-margin{
    margin: 0px !important;
}

.bg-primary{
    color: #fff !important;
}
.title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

.checklist-form-search{
    color: #345975;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}
/*for autocomplete*/
* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
}
.autocomplete-items div {
    padding: 5px !important;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4 !important;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.pagination-input{
    height: 30px !important; width: 45px !important;
    background: #fff;
    text-align: center;
    color: #444;
}
.page-link{
     margin: 3px;
}